
img {
 
    display: block;
    margin: auto;
    width: 50%;
}

h1
{
  font-family: "Calibri";
  font-size: 64px;
  text-decoration: underline;
  text-align: center;
}

}

body 
{
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;


}

#skillset, #workhistory, #education
{
  border-bottom: 2px solid gray;
}

#address

{
text-align: center;
}


